<template>
  <div id="Timer">
    <section class="">
      <div class="container">
        <h1 class="timerTitle">
        <countdown v-bind:auto-start="false" v-bind:interval="100" v-on:countdownprogress="onCountdownProgress" v-on:countdownend="onCountdownEnd" ref="countdown" :time="timeRemaining">
          <template scope="props" >{{ props.minutes }} <span class="smallerSeconds">{{ props.seconds }}</span></template>
        </countdown>
      </h1>
      </div>
    </section>
    <a class="button is-large is-danger" @click="startTimer">Start Pomodoro</a>
    <a class="button is-large is-danger is-outlined" @click="pauseTimer">Pause</a>
    <a class="button is-large is-danger is-outlined" @click="stopTimer">Reset Time</a>
  </div>
</template>
<script>

export default {
  name: "Timer",
  data: () => ({
    timeRemaining: 15000000,
  }),
  mounted() {
    //do something after creating vue instance
    this.checkNotification();
  },
  methods: {
    checkNotification() {
      // Let's check if the browser supports notifications
      if (!("Notification" in window)) {
        alert("This browser does not support desktop notification");
      }
      // Let's check if the user is okay to get some notification
      else if (Notification.permission === "granted") {
        // If it's okay let's create a notification
        // var notification = new Notification("Pomotimer started!");
        console.log('Noti okay!');
      }
      // Otherwise, we need to ask the user for permission
      // Note, Chrome does not implement the permission static property
      // So we have to check for NOT 'denied' instead of 'default'
      else if (Notification.permission !== 'denied') {
        Notification.requestPermission(function (permission) {
          // Whatever the user answers, we make sure we store the information
          if(!('permission' in Notification)) {
            Notification.permission = permission;
          }
          // If the user is okay, let's create a notification
          if (permission === "granted") {
            // var notification = new Notification("Pomotimer started!");
            console.log('Noti okay!');
          }
        });
      }
    },
    startTimer() {
      var notification = new Notification("Pomotimer started!");
      this.$refs.countdown.start();
      var startSound = new Audio('/static/bell.wav');
      startSound.play();
    },
    onCountdownProgress(data) {
      document.title = "(" + data.minutes + ") Pomotimer";
    },
    onCountdownEnd(data) {
      document.title = "Timer Complete!";
      var notification = new Notification("Pomotimer complete!");
      var startSound = new Audio('/static/bell.wav');
      startSound.play();
    },
    pauseTimer() {
      this.$refs.countdown.stop();
    },
    stopTimer() {
      this.$refs.countdown.stop();
      this.$refs.countdown.time = 1500000;
      // this.$refs.countdown.start();
    }
  },
  computed: {
    properFormat: function () {
      return 1 * 1 * 1 * this.timeRemaining * 1;
    }
  }
}
</script>
<style scoped>

.timerTitle {
  font-size: 12.5rem;
}

.smallerSeconds {
  font-size: 5rem;
}
</style>
