<template>
  <div id="app">
<section class="hero is-success is-fullheight">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-center">
          <a class="nav-item">
            <h2 class="nav-logo">Pomotimer</h2>
          </a>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <Timer></Timer>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a href="https://www.thousandsdigital.com">Built by Patrick Bollenbach</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>


  </div>
</template>

<script>
import Timer from './components/Timer.vue';

export default {
  name: 'app',
  components: {
    Timer
  }
}
</script>

<style>
body{
  font-family: 'Noto Sans', sans-serif;
}
.hero.is-success {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)), url("https://source.unsplash.com/WLUHO9A_xik/2000x1000");
}

.nav-logo {
  font-size: 3.5rem;
}

.hero-body {
  padding: 0px !important;
  margin-top:-100px;
}

.nav {
  height: 5rem;
}
</style>
